.sidebar {
    background-color: $color-primary;
    display: flex;
    justify-content: center;
}


.nav-btn {
    margin-top: 3.5rem;
    border: none;
    border-radius: 0;
    background-color: #fff;
    height: 3px;
    width: 4.5rem;

    &::before,
    &::after {
        content: "";
        display: block;
        background-color: #fff;
        height: 3px;
        width: 4.5rem;
    }

    &::before {
        transform: translateY(-1.7rem);
    }

    &::after {
        transform: translateY(1.5rem);
    }
}