.story {


    &__pictures {
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)),
            url(../img/back.jpg);
        background-size: cover;

        display: grid;
        align-items: center;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);

    }

    &__img--1 {
        width: 100%;
        grid-area: 2/2/6/6;
        box-shadow: 0 1rem 3rem rgba(#000, .2);
    }

    &__img--2 {
        width: 115%;
        z-index: 20;
        grid-area: 4/4/6/7;
        box-shadow: 0 2rem 5rem rgba(#000, .25);
    }

    &__content {
        background-color: $color-grey-light-1;
        padding: 6rem 8vw;
        //FLEX
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: flex-start;

        //GRID
        display: grid;
        align-content: center;
        justify-items: start;
    }

    &__text {
        font-style: italic;
        font-size: 1.5rem;
        margin-bottom: 4rem;
    }
}